<header class="main-header" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Editar Clientes</h1>
            </div>
        </div>
    </div>
</header>

<form class="needs-validation" #formCliente="ngForm" (ngSubmit)="editarCliente(formCliente)">
    <!-- Botones -->
    <flash-messages></flash-messages>

    <section id="actions">
        <div class="container">
            <div class="row">
                <div class="col-md 3">
                    <a routerLink="/" class="btn btn-outline-secondary btn-block">
                        <i class="fas fa-arrow-left"></i> Regresar al inicio
                    </a>
                </div>

                <div class="col-md 3">
                    <button type="submit" class="btn btn-outline-secondary btn-block">
                        <i class="fas fa-check"></i> Guardar Cliente
                    </button>
                </div>

                <div class="col-md 3">
                    <a (click)="eliminarCliente()" class="btn btn-outline-danger btn-block">
                        <i class="fas fa-trash"></i> Eliminar
                    </a>
                </div>
            </div>
        </div>

    </section>
    <!-- /Botones -->

    <!-- Formulario -->

    <section id="details">
        <div class="container">

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel"
                        [(ngModel)]="cliente.nombre" [ngClass]="{'is-invalid': nombre.errors && nombre.touched}"
                        required minlength="2">
                    <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                        Nombre requerido
                    </div>
                    <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                        Debe contener al menos 2 caracteres
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" id="apellido" name="apellido" #apellido="ngModel"
                        [(ngModel)]="cliente.apellido" [ngClass]="{'is-invalid': apellido.errors && apellido.touched}" required
                        minlength="2">
                    <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
                        Apellido requerido
                    </div>
                    <div [hidden]="!apellido.errors?.minlength" class="invalid-feedback">
                        Debe contener al menos 2 caracteres
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="email">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                        </div>
                        <input type="email" class="form-control" id="email" name="email" #email="ngModel"
                            [(ngModel)]="cliente.email" [ngClass]="{'is-invalid': email.errors && email.touched}" required
                            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                        <div [hidden]="!email.errors?.required" class="invalid-feedback">
                            Email requerido!
                        </div>
                        <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
                            Ingresa un correo corecto
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12 mb-3">
                    <label for="saldo">Saldo</label>
                    <input type="number" class="form-control" id="saldo" name="saldo" #saldo="ngModel"
                        [(ngModel)]="cliente.saldo" [ngClass]="{'is-invalid': saldo.errors && saldo.touched}" required>
                    <div [hidden]="!saldo.errors?.required" class="invalid-feedback">
                        Saldo requerido!
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>