<header class="main-header" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h1>Login</h1>
            </div>
        </div>
    </div>
</header>

<section id="actions">
    <div class="container">
        <div class="row">

        </div>
    </div>
</section>

<section id="login">
    <div class="container">
        <div class="col-md-12">
            <flash-messages></flash-messages>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form class="form" (submit)="login()">
                    <div class="form-group">
                        <label for="email" class="sr-only">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email address" 
                        [(ngModel)] = "email" required autofocus> 
                    </div>

                    <div class="form-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" 
                        [(ngModel)] = "password" required>
                    </div>
                    
                    
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</section>
