<div class="row my-5">
    <div class="col-md-12">
        <button type="button" class="btn btn-outline-primary" (click)="agregar()">Agregar +</button>
    </div>
</div>

<div class="card">
    <div class="card-body">
      <h4 class="card-title">Aplicación con ROUTING</h4>
      <h6 class="card-subtitle text-muted">Arreglo de personas</h6>
    </div>
    <div class="card-body">
        <app-personas *ngFor="let item of personas; let i = index" [persona]=item [tam] = personas.length [indice] = i></app-personas>
    </div>
  </div>
  

<router-outlet></router-outlet>