<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Clientes-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-2">
        <li class="nav-item active" *ngIf="isLoggedIn" routerLinkActive="active">
          <a class="nav-link" routerLink="/" >Inicio</a>
        </li>
        <li class="nav-item active" *ngIf="!isLoggedIn" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">
            <i class="fas fa-user"></i> Login
          </a>
        </li>

        <li class="nav-item active" *ngIf="!isLoggedIn" routerLinkActive="active">
          <a class="nav-link" routerLink="/registrarse">
            <i class="fas fa-user"></i> SignUp
          </a>
        </li>
        
        <li class="nav-item dropdown" *ngIf="isLoggedIn" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> Bienvenido {{loggedInUser}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/configuracion"><i class="fas fa-cog"></i>Configuracion</a>
          </div>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn" routerLinkActive="active">
          <a style="cursor: pointer;" class="nav-link" (click) = "logout()">
            <i class="fas fa-user-times"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>  
  
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" routerLinkActive="active">Clientes-App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active" *ngIf="isLoggedIn" routerLinkActive="active">
        <a class="nav-link" routerLink="/" >Inicio</a>
      </li>

      <li class="nav-item active" *ngIf="!isLoggedIn && permitirR" routerLinkActive="active">
        <a class="nav-link" routerLink="/login">
          <i class="fas fa-user"></i> Login
        </a>
      </li>

      <li class="nav-item active" *ngIf="!isLoggedIn && permitirR" routerLinkActive="active">
        <a class="nav-link" routerLink="/registrarse">
          <i class="fas fa-user"></i> SignUp
        </a>
      </li>
      <li class="nav-item dropdown" *ngIf="isLoggedIn" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Bienvenido {{loggedInUser}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/configuracion"><i class="fas fa-cog"></i>Configuracion</a>
        </div>
      </li>

      <li class="nav-item" *ngIf="isLoggedIn" routerLinkActive="active">
        <a style="cursor: pointer;" class="nav-link" (click) = "logout()">
          <i class="fas fa-user-times"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class=" overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light bg-image">
    <div class="col-md-5 p-lg-3 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Control de clientes</h1>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>