<section id="actions" class="py-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="btn btn-outline-secondary btn-block" data-toggle="modal" data-target="#clienteModal">
                    <i class="fas fa-plus mr-1"></i>Agregar Clientes
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Listado de ClIENTES-->

<section id="clientes">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <small>Clientes Activos</small>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                                <th scope="col">Saldo</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cliente of clientes; let i = index">
                                <th scope="row">{{i+1}}</th>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.apellido}}</td>
                                <td>{{cliente.saldo | currency}}</td>
                                <td>
                                    <a routerLink="/cliente/editar/{{cliente.id}}" class="btn btn-outline-secondary">
                                        <i class="fas fa-angle-double-right"></i> Editar
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Tarjetas laterales -->
            <div class="col-md-3">
                <div class="card text-center bg-dark text-white mb-3">
                    <div class="card-body">
                        <small>Saldos Totales</small>
                        <br>
                        <small>{{getSaldoTotal() | currency}}</small>
                    </div>
                </div>
                <div class="card text-center bg-secondary text-white mb-3">
                    <div class="card-body">
                        <small>Clientes Totales</small>
                        <br>
                        <small><i class="fas fa-users"></i> {{clientes?.length}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- AGREGAR CLIENTE -->

<!-- Modal -->
<div class="modal fade" id="clienteModal" tabindex="-1" role="dialog" aria-labelledby="clienteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="clienteModalLabel">Agregar Clientes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #btnClose>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <flash-messages></flash-messages>

            <div class="modal-body">
                <form class="needs-validation" novalidate #f="ngForm" (ngSubmit)="agregarCliente(f)">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" #nombre="ngModel" 
                            [(ngModel)] = "cliente.nombre" [ngClass]="{'is-invalid': nombre.errors && nombre.touched}" required minlength="2">
                            <div [hidden]="!nombre.errors?.required" class="invalid-feedback">
                                Nombre requerido
                            </div>
                            <div [hidden]="!nombre.errors?.minlength" class="invalid-feedback">
                                Debe contener al menos 2 caracteres
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido" name="apellido" #apellido="ngModel"
                            [(ngModel)] ="cliente.apellido" [ngClass]="{'is-invalid': apellido.errors && apellido.touched}" required minlength="2">
                            <div [hidden]="!apellido.errors?.required" class="invalid-feedback">
                                Apellido requerido
                            </div>
                            <div [hidden]="!apellido.errors?.minlength" class="invalid-feedback">
                                Debe contener al menos 2 caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                </div>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel"
                                    [(ngModel)] = "cliente.email" [ngClass]="{'is-invalid': email.errors && email.touched}"
                                    required pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                <div [hidden]="!email.errors?.required" class="invalid-feedback">
                                    Email requerido!
                                </div>
                                <div [hidden]="!email.errors?.pattern" class="invalid-feedback">
                                    Ingresa un correo corecto
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <label for="saldo">Saldo</label>
                            <input type="number" class="form-control" id="saldo" name="saldo" #saldo="ngModel" 
                            [(ngModel)] = "cliente.saldo" [ngClass]="{'is-invalid': saldo.errors && saldo.touched}"
                            required>
                            <div [hidden]="!saldo.errors?.required" class="invalid-feedback">
                                Saldo requerido!
                            </div>
                        </div>
                    </div>
                    

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Enviar </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>