
<hr>

<div *ngIf="!formvalido" class="alert alert-warning alert-dismissible fade show mt-2" role="alert">
    <strong>No valido!</strong> Debes llenar los campos
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form #f="ngForm" (ngSubmit)="onGuardarPersona(f)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombreInput" required>
        </div>
        <div class="form-group col-md-6">
            <label for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="apellidoInput" required>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="1234 Main St" [(ngModel)]="emailInput" required>
    </div>
    <div class="form-group">
        <label for="telefono">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="442 65468 " [(ngModel)]="telefonoInput" required>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-outline-success btn-block">Guardar</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-outline-danger btn-block mx-2" *ngIf="idPersona != null"
                                (click)="onEliminar(idPersona)">
                                Eliminar
            </button>
        </div>
    </div>
    
</form>