<header class="main-header" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h1>Pagina no encontrada :(</h1>
            </div>
        </div>
    </div>
</header>