<header class="main-header" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h1>Configuración</h1>
            </div>
        </div>
    </div>
</header>

<section id="actions" class="my-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a routerLink="/" class="btn btn-outline-dark btn-block">
                    <i class="fas fa-arrow-left"></i> Regresar al inicio
                </a>
            </div>

            <div class="col-md-3">
                <button type="submit" (click)="guardar()" class="btn btn-outline-dark btn-block">
                    <i class="fas fa-save"></i> Guardar cambios
                </button>
            </div>
        </div>
    </div>
</section>

<section id="configuracion" class="my-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header bg-dark text-white mb-3">
                        <small>Editar Configuracion</small>
                    </div>
                    <div class="card-body">
                        <fieldset class="form-group">
                            <legend>Permitir Registro de Usuarios</legend>
                            <div class="form-check">
                                <label for="permitirR">
                                    <input type="checkbox" class="form-check-input" name="permitirR" [(ngModel)] = "permitirR"
                                        [checked] ="permitirR"> {{ permitirR?"Si":"No"}}
                                </label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
