<app-header [presupuestoTotal] = "getPresupuesTotal()"
            [ingresoTotal] = "getTotalEntrance()"
            [egresoTotal] = "getTotalEgress()"
            [procentajeTotal] = "getTotalPercentaje()">
</app-header>

<app-form-estimate></app-form-estimate>

<div class="contenedor limpiarEstilos">
  <app-entrance></app-entrance>
  <app-egress [ingresoTotal] = "getTotalEntrance()"></app-egress>
</div>