<!-- COMMENT MISMO CODIGO FUNCIONAL -->
<!-- <app-formpersonas (personaAdd) = "onPersonaAdd($event)"></app-formpersonas> -->


<h1>Listar personas</h1>
<hr>

<div class="row">
    <div class="col-md-6"  *ngIf="!esAutenticado()">
        <a routerLink = "/login" class="btn btn-outline-success">Login</a>
    </div>
    <div class="col-md-6" *ngIf="esAutenticado()">
        <a (click) = "salir()" class="btn btn-outline-secondary">Log out</a>
    </div>
</div>

<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- VARIABLE DESDE UN HIJO -->
<!-- DE CALCULADORA COMP A APP COMP -->
<!-- <app-calculadora (resultadoHijo) = "onResultado($event)" (verResultadoHijo) = "onVerResultado($event)"></app-calculadora> -->

<!-- VARIABLE DESDE EL PADRE -->
<!-- DE APP COMP A CALCULADORA RES -->
<!-- <app-calculadora-resultado [result] = "resPadre" [verResult] = "verResPadre"></app-calculadora-resultado> -->
