<h1 class="mt-2">Calculadora</h1>
<small>Uso de Binding</small>
<hr>

<div *ngIf="verAlert" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Ojo!</strong> LLena los campos solicitados
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form #f="ngForm">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="one">Numero 1</label>
            <input type="number" placeholder="one" class="form-control" id="one" name="one" [(ngModel)]="one" required>
        </div>

        <div class="form-group col-md-6">
            <label for="one">Numero 2</label>
            <input type="number" placeholder="second" class="form-control" id="one" name="second" [(ngModel)]="second"
                required>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-block" (click)="sumar(f)">Sumar</button>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-block" (click)="restar(f)">Restar</button>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-block" (click)="multiplicar(f)">Multiplizar</button>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-block" (click)="dividir(f)">Dividir</button>
        </div>
    </div>

    <button type="reset" class="btn btn-dark mt-3" (click)="limpiar()">Limpiar</button>
</form>

<hr>