<h2>Listado de Personas</h2>
<hr>
    <div class="row">
        <div class="col-md-12 m-auto">
            <button type="button" class="btn btn-outline-dark btn-block" (click)="irAgregar()">
                Agregar
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 mt-2" *ngFor="let item of personas;">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <a [routerLink]="['/personas', item.idPersona]">
                            <h5 class="card-title">{{item.nombre}}</h5> 
                        </a>
                        <p class="card-text">Apellido: {{item.apellido}}</p>
                        <p class="card-text"><small class="text-muted">Email: {{item.email}}</small></p>
                        <p class="card-text"><small class="text-muted">Tel. {{item.telefono}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- <div class="row mt-4">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of personas;">
                        <th scope="row">{{item.idPersona}}</th>
                        <td>{{item.nombre}}</td>
                        <td>{{item.apellido}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.telefono}}</td>
                        <td>
                            <button type="button" class="btn btn-outline-warning mx-2" (click)="irAgregar()">
                                Agregar
                            </button>
                            <button type="button" class="btn btn-outline-danger mx-2" *ngIf="item.idPersona != null"
                                (click)="onEliminar(item.idPersona)">
                                Eliminar
                            </button>
                            <a [routerLink]="['/personas', item.idPersona]" class="btn btn-outline-success mx-2">
                                Editar
                            </a>



                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>