<form (ngSubmit) = "f.form.valid && agregarValor(f)" #f = "ngForm" >
    <div class="agregar">
        <div class="agregar_contenedor">
            <select class="agregar_tipo" (change) = "tipoOperacion($event)" [ngClass] = "{ redfocus: tipo === 'egr'}">
                <option value="ing" selected>+</option>
                <option value="egr">-</option>
            </select>
            <input type="text" [ngClass] = "{ redfocus: tipo === 'egr'}"  name="descripcion" class="agregar_descripcion" placeholder="Agregar Descripción" required  [(ngModel)] ="descripcion">
            <input type="number" [ngClass] = "{ redfocus: tipo === 'egr'}" name="valor" class="agregar_valor" placeholder="Valor" required [(ngModel)] = "valor">
            <button type="submit" class="agregar_btn"><i [ngClass] = "{ red: tipo === 'egr'}" class="ion-ios-checkmark-outline"></i></button>
        </div>
    </div>
</form>