<header class="main-header" class="py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Tablero</h1>
            </div>
        </div>
    </div>
</header>

<app-clients></app-clients>