<div class="row">
    <div class="col-md-6">
        <p class="text-center p-3">Indice: {{indice}}</p>
    </div>
    <div class="col-md-6">
        <a [routerLink]="['/personas', indice]" [queryParams]="{modoEdicion: '1'}">
            <p class="text-center p-auto">Nombre: {{persona.nombre}}</p>
            <p class="text-center p-auto">Edad: {{persona.edad}}</p>
        </a>
    </div>
</div>