
<div class="card text-left my-3">
  <div class="card-body">
    <h4 class="card-title">Agregar Personas</h4>
    <p class="card-text">Uso de Directivas</p>
    <div class="card-body">
        <form #f2="ngForm" (ngSubmit) = "f2.form.valid && onGuardarPersona() ">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="one">Nombre</label>
                    <input type="text" placeholder="Nombre" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre"
                        required>
                        <!-- <input type="text" placeholder="Nombre" class="form-control" id="nombre" name="nombre" #nombre
                        required> -->
                </div>
        
                <div class="form-group col-md-6">
                    <label for="one">Edad</label>
                    <input type="number" placeholder="Edad" class="form-control" id="edad" name="edad" [(ngModel)] = "edad"
                        required>
                    <!-- <input type="number" placeholder="Edad" class="form-control" id="nombre" name="edad" #edad
                        required> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-dark mt-3">Guardar</button>
                </div>
                <div class="col-md-6" *ngIf="index != null">
                    <button type="submit" class="btn btn-outline-danger mt-3" (click) ="onEliminarPersona()">Eliminar</button>
                </div>
            </div>
            
        </form>
    </div>
  </div>
</div>

